/*  your css code here. If applicable */
#card{
	width: 500px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#card>img{
	width:70%;
	margin: 0 auto;
	
}
#card>h1,p{
	text-align:center;
}
#card>button{ 
	margin-top: 15px;
}